<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="name" type="java.lang.String"-->
<head>
    <title>Web Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- Bootstrap latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    
    <!-- AngularJS minified version -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Bootstrap latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- Main Application -->
	<script th:src="@{/apps/main/js/ParentClass.js}"></script>
	<script th:src="@{/apps/main/js/ChildClass.js}"></script>
	<script th:src="@{/apps/main/js/app.js}"></script>
	
</head>
<body>

    <h3>Web Application</h3>
    
    <p>Build a new Web Application from scratch using Spring Boot, Thymeleaf, AngularJS.</p>
    <p th:text="${users}"></p>
	
</body>
</html>